{
	"db_passwd": "ThisIsWhereThePasswordToYourDatabaseGoes",
	"db_username": "mz",
	"db_host": "localhost",
	"db_port": 3306,
	"db_dbname": "repost",

	"reddit_client_id": "ThisIsNot-MyRealId",
	"reddit_client_secret": "NoYou_Cant_HaveMy_ClientSecret",
	"reddit_username": "YouNameHere",
	"reddit_passwd": "YourPasswordHere",
	"reddit_ua": "python:ThisIsARepostBotBot:0.1.0 (by u/XXXXXX)",

	"repost_reply": "The poster of the post/comment I am replying to is a karma farming repost bot, please downvote and report.\n\n^-- ^This ^is ^an ^experimental ^semiautomatic ^system, ^witch ^may ^in ^rare ^cases ^be ^inacureate.",
	"repost_report": true
}
